.search-box {
    width: calc(100% - 42px);
    height: 10vmin;
    margin: 30px 0;
}

.search-text {
    display: block;
    width: 100%;
    padding: 0 20px;
    line-height: 10vmin;
    font-size: calc(10px + 1vmin);
    border: 1px solid rgb(224, 224, 224);
}

.search-text:hover {
    border: 2px solid rgb(97, 218, 255);
}

